<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target xsi:type="NlogViewer" name="ctrl" />
    <target name="debugger" xsi:type="Debugger"
                    layout="date:format=HHmmss|{level:padding=-5} | ${message}" />
    <target name="log_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="Logs/${shortdate}.txt"
                     />
    <!--layout="${longdate}|${level:uppercase=false:padding=-5} | message{onexception:exception:format=tostring{newline} stacktrace{newline}"-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="log_file" />
  </rules>
</nlog>