<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.17.1" targetFramework="net47" />
  <package id="AdonisUI.ClassicTheme" version="1.17.1" targetFramework="net47" />
  <package id="AsyncIO" version="0.1.69" targetFramework="net47" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net47" />
  <package id="EntityFramework.zh-Hans" version="6.0.0" targetFramework="net47" />
  <package id="Fody" version="4.2.1" targetFramework="net47" developmentDependency="true" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net47" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net47" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net47" />
  <package id="Nito.AsyncEx" version="5.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Context" version="5.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Oop" version="5.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.0" targetFramework="net47" />
  <package id="Nito.Cancellation" version="1.1.0" targetFramework="net47" />
  <package id="Nito.Collections.Deque" version="1.1.0" targetFramework="net47" />
  <package id="Nito.Disposables" version="2.2.0" targetFramework="net47" />
  <package id="NLog" version="4.7.9" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net47" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="Telegraf" version="2.0.1" targetFramework="net47" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net47" />
</packages>